In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [2]:
players=pd.read_csv('https://docs.google.com/spreadsheets/d/1kj3GIhLYi6xklFo9XCIIHzBHp_AL4EZ4xtJ0HRGhRKk/gviz/tq?tqx=out:csv')

In [3]:
z=[]
for i in range(len(players)):
    z.append(players['Matches Played Together'][i]+players['Matches Played As Opponents'][i])

In [4]:
b = (z - np.min(z))/np.ptp(z)
b=list(b)
players['Score_for_chem']=b
players

,Player 1,Player 2,Matches Played Together,Matches Played As Opponents,Stats Points Player 1,Stats Points Player 2,Score_for_chem
0,MS Dhoni,SK Raina,165,4,0.0,0.0,1.000000
1,SK Raina,MS Dhoni,165,4,0.0,0.0,1.000000
2,AB de Villiers,V Kohli,151,3,0.0,0.0,0.911243
3,V Kohli,AB de Villiers,151,3,0.0,0.0,0.911243
4,KA Pollard,RG Sharma,149,2,0.5,1.5,0.893491
...,...,...,...,...,...,...,...
375764,Z Khan,YS Chahal,0,6,0.0,0.0,0.035503
375765,Z Khan,YV Takawale,0,0,0.0,0.0,0.000000
375766,Z Khan,Yashpal Singh,0,1,0.0,0.0,0.005917
375767,Z Khan,Younis Khan,0,0,0.0,0.0,0.000000
375768,Z Khan,Z Khan,0,0,0.0,0.0,0.000000

In [5]:
def chemistry(x,y):
    X=players[players['Player 1']==x]
    Y=X[X['Player 2']==y]
    return Y['Score_for_chem'].values[0]

In [6]:
chemistry('Yuvraj Singh','MS Dhoni')

0.10059171597633136

In [7]:
def one_vs_team_experience_score(x,y):
    c=0
    s=0
    for i in y:
        X=players[players['Player 1']==x]
        Y=X[X['Player 2']==i]
        z=Y['Score_for_chem'].values[0]
        if z!=0:
            c+=1
            s+=z
    try:
        m=s/c
    except:
        m=0
    return m

In [8]:
one_vs_team_experience_score('MS Dhoni',['Shubman Gill', 'VR Iyer', 'N Rana', 'SP Narine', 'EJG Morgan', 'KD Karthik', 'Shakib Al Hasan', 'RA Tripathi', 'LH Ferguson', 'Shivam Mavi', 'CV Varun'])

0.06993006993006992

In [9]:
def team_vs_team_experience_score(x,y):
    s=0
    for i in y:
        #print(i,one_vs_team_experience_score(i,x))
        s=s+one_vs_team_experience_score(i,y)
    return s/11

In [10]:
team_vs_team_experience_score(['D Padikkal', 'V Kohli', 'KS Bharat', 'GJ Maxwell', 'AB de Villiers', 'Shahbaz Ahmed', 'DT Christian', 'HV Patel', 'GHS Garton', 'Mohammed Siraj', 'YS Chahal'],
                              ['JJ Roy', 'Abhishek Sharma', 'MK Pandey', 'Mohammad Nabi', 'Abdul Samad', 'PK Garg', 'JO Holder', 'Rashid Khan', 'WP Saha', 'S Kaul', 'Umran Malik'])

0.06369015599784832

In [11]:
def stats(x,y):
    X=players[players['Player 1']==x]
    Y=X[X['Player 2']==y]
    return Y['Stats Points Player 1'].values[0]

In [12]:
stats('RA Jadeja','MS Dhoni')

0.2

In [13]:
def one_vs_team_stats(x,y):
    s=0
    for i in y:
        #print((i,stats(x,i)))
        s=s+stats(x,i)
    return s

In [14]:
one_vs_team_stats('V Kohli',['JJ Roy', 'Abhishek Sharma', 'MK Pandey', 'Mohammad Nabi', 'Abdul Samad', 'PK Garg', 'JO Holder', 'Rashid Khan', 'WP Saha', 'S Kaul', 'Umran Malik'])

0.04761904762

In [15]:
def team_vs_team_stats(x,y):
    s=0
    for i in x:
        #print(i,one_vs_team_stats(i,y))
        s=s+one_vs_team_stats(i,y)
    return s

In [16]:
team_vs_team_stats(['D Padikkal', 'V Kohli', 'KS Bharat', 'GJ Maxwell', 'AB de Villiers', 'Shahbaz Ahmed', 'DT Christian', 'HV Patel', 'GHS Garton', 'Mohammed Siraj', 'YS Chahal'],
                   ['JJ Roy', 'Abhishek Sharma', 'MK Pandey', 'Mohammad Nabi', 'Abdul Samad', 'PK Garg', 'JO Holder', 'Rashid Khan', 'WP Saha', 'S Kaul', 'Umran Malik'])

27.26906657312

In [17]:
#https://docs.google.com/spreadsheets/d/1MlYYb_5VFZTot9-1GCGfvrFuyo0guyT0St5btkvG1tA/gviz/tq?tqx=out:csv
def teams(team,player):
    x={}
    teams=pd.read_csv('https://docs.google.com/spreadsheets/d/1MlYYb_5VFZTot9-1GCGfvrFuyo0guyT0St5btkvG1tA/gviz/tq?tqx=out:csv')
    x['CSK']=list(teams[teams['CSK']==1]['Name'].values)
    x['RCB']=list(teams[teams['RCB']==1]['Name'].values)
    x['SRH']=list(teams[teams['SRH']==1]['Name'].values)
    x['GT']=list(teams[teams['GT']==1]['Name'].values)
    x['LSG']=list(teams[teams['LSG']==1]['Name'].values)
    x['MI']=list(teams[teams['MI']==1]['Name'].values)
    x['KKR']=list(teams[teams['KKR']==1]['Name'].values)
    x['PK']=list(teams[teams['PK']==1]['Name'].values)
    x['DC']=list(teams[teams['DC']==1]['Name'].values)
    x['RR']=list(teams[teams['RR']==1]['Name'].values)
    #print(list(x.keys()))
    return test_player_in_team(team,player,x)

In [18]:
def test_player_in_team(team,player,y):
    #player='NLTC Perera'
    #team='RR'
    y[team].append(player)
    
    m=[i for i in y.keys() if i!=team]
    z={'Against Team':[],'Experience Score':[],'Stats Score':[],'Overall':[]}
    for i in m:
        a=team_vs_team_experience_score(y[team],y[i])
        b=team_vs_team_stats(y[team],y[i])
        z['Against Team'].append(i)
        z['Experience Score'].append(a)
        z['Stats Score'].append(b)
        z['Overall'].append(a+b)
    z=pd.DataFrame(z)
    return z

In [19]:
p=pd.read_csv('https://docs.google.com/spreadsheets/d/1kj3GIhLYi6xklFo9XCIIHzBHp_AL4EZ4xtJ0HRGhRKk/gviz/tq?tqx=out:csv')
m=pd.read_csv('https://docs.google.com/spreadsheets/d/1zhpcj7_6Uq96UDNEi3ZS-bu5B3AXCXSRDeiHy0nvvfE/gviz/tq?tqx=out:csv')

In [20]:
from tkinter import *
import numpy as np
import pandas as pd
from tkinter import Tk, Button, Frame, StringVar
from tkinter.ttk import Combobox
from tkinter import ttk

In [21]:
#this for player
p_unique_1 = set(p['Player 1'])
p_lst_1 = list(p_unique_1)
p_lst_1.sort()


#this for team
#t_unique_1 = set(m['Team1'])
t_lst_1 = ['CSK', 'RCB', 'SRH', 'GT', 'LSG', 'MI', 'KKR', 'PK', 'DC', 'RR']
t_lst_1.sort()

In [22]:
root = Tk()
def get_info():
    top = Toplevel()
    team=cb1_var.get()
    player=cb2_var.get()
    #print("For {} in {} team".format(player,team))
    x=teams(team,player)
    text=Text(top,width=80, height=15)
    text.insert(END,x)
    text.pack()
    #print(x)

cb_frame = Frame(root)
cb_frame.pack(side='left')
root.geometry("400x600")

cb1_var = StringVar()
#cb1_var.set(options[cb1_values[0]][1])
cb1 = Combobox(cb_frame, values=t_lst_1, textvariable=cb1_var)
cb1.pack(side='top')
#cb1.bind('<<ComboboxSelected>>', get_var_1)


cb2_var = StringVar()
#cb2_var.set(options[cb1_values[0]][0])
cb2 = Combobox(cb_frame, values=p_lst_1, textvariable=cb2_var)
cb2.pack(side='bottom')



btn_frame = Frame(root)
btn_frame.pack(side='right')
Button(btn_frame, text='Confirm', command=get_info).pack()


root.mainloop()

For KMA Paul in PK team
  Against Team  Experience Score  Stats Score   Overall
0          CSK          0.013717     2.991639  3.005356
1          RCB          0.038999     5.259221  5.298220
2          SRH          0.002690     5.600000  5.602690
3           GT          0.010265     9.157270  9.167535
4          LSG          0.001614     4.502525  4.504139
5           MI          0.004303     2.916667  2.920970
6          KKR          0.009683     0.833333  0.843016
7           DC          0.001076     3.694118  3.695193
8           RR          0.019769     4.677102  4.696871

In [24]:
import gspread

In [26]:
gs=gspread.service_account('C:\\Users\\adity\\OneDrive\\Documents\\Sheets API\\IPL DATABID.json')

In [32]:
sh=gs.open_by_key('1CAK2ITU8vD90NtOn120dErdYk3CCdof35VbMMV77tN0').sheet1

In [37]:
sh.append_row(['T Boult','Sold','CSK'])

{'spreadsheetId': '1CAK2ITU8vD90NtOn120dErdYk3CCdof35VbMMV77tN0',
 'tableRange': 'Sheet1!A1:C2',
 'updates': {'spreadsheetId': '1CAK2ITU8vD90NtOn120dErdYk3CCdof35VbMMV77tN0',
  'updatedRange': 'Sheet1!A3:C3',
  'updatedRows': 1,
  'updatedColumns': 3,
  'updatedCells': 3}}

In [ ]:
#this for player
p_unique_1 = set(p['Player 1'])
p_lst_1 = list(p_unique_1)
p_lst_1.sort()


#this for team
#t_unique_1 = set(m['Team1'])
t_lst_1 = ['CSK', 'RCB', 'SRH', 'GT', 'LSG', 'MI', 'KKR', 'PK', 'DC', 'RR']
t_lst_1.sort()

In [ ]:
root=Tk()
root.geometry("400x400")
def selected(event):
    a=clicked.get()
    b=clicked2.get()
    if b=='Sold':
        #c='aaa'
        pass
    else:
        c='-'
cb_frame = Frame(root)
cb_frame.pack(side='left')
cb1_var = StringVar()
#cb1_var.set(options[cb1_values[0]][1])
cb1 = Combobox(cb_frame, values=p_lst_1, textvariable=cb1_var)
cb1.pack(side='top')
cb1.bind('<<ComboboxSelected>>', get_var_1)