In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [4]:
players=pd.read_csv('https://docs.google.com/spreadsheets/d/1kj3GIhLYi6xklFo9XCIIHzBHp_AL4EZ4xtJ0HRGhRKk/gviz/tq?tqx=out:csv')

In [18]:
z=[]
for i in range(len(players)):
    z.append(players['Matches Played Together'][i]+players['Matches Played As Opponents'][i])

In [36]:
b = (z - np.min(z))/np.ptp(z)
b=list(b)
players['Score_for_chem']=b
players

,Player 1,Player 2,Matches Played Together,Matches Played As Opponents,Stats Points Player 1,Stats Points Player 2,Score_for_chem
0,A Ashish Reddy,A Ashish Reddy,0,0,0.000000,0.0,0.000000
1,A Ashish Reddy,A Chandila,0,2,0.000000,0.0,0.011834
2,A Ashish Reddy,A Chopra,0,0,0.000000,0.0,0.000000
3,A Ashish Reddy,A Choudhary,0,0,0.000000,0.0,0.000000
4,A Ashish Reddy,A Dananjaya,0,0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...
375764,Z Khan,YV Takawale,0,0,0.000000,0.0,0.000000
375765,Z Khan,Yashpal Singh,0,1,0.000000,0.0,0.005917
375766,Z Khan,Younis Khan,0,0,0.000000,0.0,0.000000
375767,Z Khan,Yuvraj Singh,7,9,0.222222,1.0,0.094675
375768,Z Khan,Z Khan,0,0,0.000000,0.0,0.000000

In [47]:
def chemistry(x,y):
    X=players[players['Player 1']==x]
    Y=X[X['Player 2']==y]
    return Y['Score_for_chem'].values[0]

In [49]:
chemistry('Yuvraj Singh','MS Dhoni')

0.10059171597633136

In [59]:
def one_vs_team_experience_score(x,y):
    c=0
    s=0
    for i in y:
        X=players[players['Player 1']==x]
        Y=X[X['Player 2']==i]
        z=Y['Score_for_chem'].values[0]
        if z!=0:
            c+=1
            s+=z
    try:
        m=s/c
    except:
        m=0
    return m

In [60]:
one_vs_team_experience_score('MS Dhoni',['Shubman Gill', 'VR Iyer', 'N Rana', 'SP Narine', 'EJG Morgan', 'KD Karthik', 'Shakib Al Hasan', 'RA Tripathi', 'LH Ferguson', 'Shivam Mavi', 'CV Varun'])

0.06993006993006992

In [67]:
def team_vs_team_experience_score(x,y):
    s=0
    for i in y:
        print(i,one_vs_team_experience_score(i,x))
        s=s+one_vs_team_experience_score(i,y)
    return s/11

In [68]:
team_vs_team_experience_score(['D Padikkal', 'V Kohli', 'KS Bharat', 'GJ Maxwell', 'AB de Villiers', 'Shahbaz Ahmed', 'DT Christian', 'HV Patel', 'GHS Garton', 'Mohammed Siraj', 'YS Chahal'],
                              ['JJ Roy', 'Abhishek Sharma', 'MK Pandey', 'Mohammad Nabi', 'Abdul Samad', 'PK Garg', 'JO Holder', 'Rashid Khan', 'WP Saha', 'S Kaul', 'Umran Malik'])

JJ Roy 0.01452393760086068
Abhishek Sharma 0.016137708445400755
MK Pandey 0.07297830374753451
Mohammad Nabi 0.011834319526627219
Abdul Samad 0.01721355567509414
PK Garg 0.011834319526627222
JO Holder 0.017751479289940832
Rashid Khan 0.03550295857988166
WP Saha 0.06831629908552986
S Kaul 0.022592791823561054
Umran Malik 0.005917159763313611

0.06369015599784832

In [74]:
def stats(x,y):
    X=players[players['Player 1']==x]
    Y=X[X['Player 2']==y]
    return Y['Stats Points Player 1'].values[0]

In [75]:
stats('RA Jadeja','MS Dhoni')

0.2

In [93]:
def one_vs_team_stats(x,y):
    s=0
    for i in y:
        #print((i,stats(x,i)))
        s=s+stats(x,i)
    return s

In [94]:
one_vs_team_stats('V Kohli',['JJ Roy', 'Abhishek Sharma', 'MK Pandey', 'Mohammad Nabi', 'Abdul Samad', 'PK Garg', 'JO Holder', 'Rashid Khan', 'WP Saha', 'S Kaul', 'Umran Malik'])

0.04761904762

In [97]:
def team_vs_team_stats(x,y):
    s=0
    for i in x:
        #print(i,one_vs_team_stats(i,y))
        s=s+one_vs_team_stats(i,y)
    return s

In [98]:
team_vs_team_stats(['D Padikkal', 'V Kohli', 'KS Bharat', 'GJ Maxwell', 'AB de Villiers', 'Shahbaz Ahmed', 'DT Christian', 'HV Patel', 'GHS Garton', 'Mohammed Siraj', 'YS Chahal'],
                   ['JJ Roy', 'Abhishek Sharma', 'MK Pandey', 'Mohammad Nabi', 'Abdul Samad', 'PK Garg', 'JO Holder', 'Rashid Khan', 'WP Saha', 'S Kaul', 'Umran Malik'])

27.26906657312

In [107]:
#https://docs.google.com/spreadsheets/d/1MlYYb_5VFZTot9-1GCGfvrFuyo0guyT0St5btkvG1tA/gviz/tq?tqx=out:csv
def teams():
    x={}
    teams=pd.read_csv('https://docs.google.com/spreadsheets/d/1MlYYb_5VFZTot9-1GCGfvrFuyo0guyT0St5btkvG1tA/gviz/tq?tqx=out:csv')
    x['CSK']=list(teams[teams['CSK']==1]['Name'].values)
    x['RCB']=list(teams[teams['RCB']==1]['Name'].values)
    x['SRH']=list(teams[teams['SRH']==1]['Name'].values)
    x['GT']=list(teams[teams['GT']==1]['Name'].values)
    x['LSG']=list(teams[teams['LSG']==1]['Name'].values)
    x['MI']=list(teams[teams['MI']==1]['Name'].values)
    x['KKR']=list(teams[teams['KKR']==1]['Name'].values)
    x['PK']=list(teams[teams['PK']==1]['Name'].values)
    x['DC']=list(teams[teams['DC']==1]['Name'].values)
    x['RR']=list(teams[teams['RR']==1]['Name'].values)
    return x