In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [2]:
#ball=pd.read_csv('C:\\Users\\adity\\OneDrive\\Documents\\Python Scripts\\LiT DaC\\IPL_Ball_by_Ball_2008_2021.csv')
#match=pd.read_csv('C:\\Users\\adity\\OneDrive\\Documents\\Python Scripts\\LiT DaC\\IPL_Matches_2008_2021.csv')

#ball=pd.read_csv('IPL_Ball_by_Ball_2008_2021.csv')
match=pd.read_csv('https://docs.google.com/spreadsheets/d/1zhpcj7_6Uq96UDNEi3ZS-bu5B3AXCXSRDeiHy0nvvfE/gviz/tq?tqx=out:csv')

#match=pd.read_csv('IPL_Matches_2008_2021.csv')
ball=pd.read_csv('https://docs.google.com/spreadsheets/d/1gFMly7K_tLPa2fdsImuCHPZ5o7BuXkL8C6jKmb6UuW0/gviz/tq?tqx=out:csv')

In [3]:
def all_teams():
    x=[]
    for i in match['Team1Players']:
        if i not in x:
            x.append(i)

    for i in match['Team2Players']:
        if i not in x:
            x.append(i)
    return x

In [4]:
def chemistry(name1,name2):
    x=all_teams()
    c=0
    if name1==name2:
        return 0
    for i in x:
        y=i.split("'")[1::2]
        #print(type(i))
        #print(type(y),y)
        if name1 in y and name2 in y:
            c=c+1
            #display(y)
    #print(c)
    return c

In [5]:
chemistry("V Kohli","R Dravid")

40

In [6]:
def all_players(x):
    y=set({})
    for i in x:
        zx=i.split("'")
        for j in zx:
            if j!=', ' and j!='[' and j !=']':
                y.add(j)
    return list(y)
#all_players(all_teams())

In [7]:
def chem_all():
    x=all_players(all_teams())
    d=dict({'Player1':[],'Player2':[],'Chemistry':[]})
    for i in range(0,len(x)-1):
        for j in range(i+1,len(x)):
            d['Player1'].append(x[i])
            d['Player2'].append(x[j])
            d['Chemistry'].append(chemistry(x[i],x[j]))
            print(i,j,x[i],x[j])
            
    return pd.DataFrame(d)
#chemistry_all_players=chem_all()

In [8]:
def both_teams():
    x=[]
    y=[]
    for i in match['Team1Players']:
        x.append(i)

    for i in match['Team2Players']:
        y.append(i)
    return x,y

In [9]:
def against_chem(name1,name2):
    x,y=both_teams()
    c=0
    for i in range(len(x)):
        zx=x[i].split("'")[1::2]
        zy=y[i].split("'")[1::2]
        if (name1 in zx and name2 in zy) or (name1 in zy and name2 in zx):
            c=c+1
            
        #if :
            #c=c+1
            #display(zx,zy)
    #print(name1,name2,c)
    return c

In [10]:
against_chem('RA Jadeja','DJ Bravo')

3

In [11]:
def bat_bowl():
    bat=[]
    bowl=[]
    for i in ball['batter']:
        if i not in bat:
            bat.append(i)

    for i in ball['bowler']:
        if i not in bowl:
            bowl.append(i)
    #display(bat,bowl)
    return bat,bowl

In [12]:
def stats_compare(name1,name2,n):
    #print("Start",datetime.now())
    bat,bowl=bat_bowl()
    p1score=0
    p2score=0
    
    #n=against_chem(name1,name2)
    #print("END !",datetime.now())
    #print()
    
    if name1 in bat and name2 in bowl:
        df1=ball[ball['batter']==name1]
        df2=df1[df1['bowler']==name2]
        #print(len(df2))
        if(len(df2)==0):
            p1score=0
            p2score=0
        else:
            out=len(df2[df2['isWicketDelivery']==1])
            balls_played=len(df2)
            total_run = sum(df2['batsman_run'])
            try:
                p1score+=total_run/balls_played
            except:
                p1score+=total_run/1
            try:
                p2score+=out/n
            except:
                p2score+=out/1
    #print("END 1",datetime.now())
    #print(p1score,p2score)
    #print()
    if name1 in bowl and name2 in bat:
        df1=ball[ball['batter']==name2]
        df2=df1[df1['bowler']==name1]
        #print(len(df2))
        if(len(df2)==0):
            p1score=0
            p2score=0
        else:
            out=len(df2[df2['isWicketDelivery']==1])
            balls_played=len(df2)
            total_run = sum(df2['batsman_run'])
            try:
                p2score+=total_run/balls_played
            except:
                p2score+=total_run/1
            try:
                p1score+=out/n
            except:
                p1score+=out/1
    #print("End 2",datetime.now())
    #print(p1score,p2score)
    #print()
    #print()
    #print(name1,name2,p1score,p2score)
    return p1score,p2score

In [13]:
stats_compare('DJ Bravo','RA Jadeja',against_chem('DJ Bravo','RA Jadeja'))

(0.0, 1.25)

def chem_one_vs_many(name,x):
    s=0
    for i in x:
        #print(chemistry(name,i))
        s=s+chemistry(name,i)
    return s

def chem_against_one_vs_many(name,x):
    s=0
    for i in x:
        #print(against_chem(name,i))
        s=s+against_chem(name,i)
    return s

def stats_compare_one_vs_many(name,x):
    s=0
    for i in x:
        x,y=stats_compare(name,i)
        s=s+x
        #print(name,i,x)
    return s

In [14]:
def one_player_Against_all_teams(name,x):
    s1=0
    s2=0
    s3=0
    for i in x:
        #print(i)
        a=chemistry(name,i)
        b=against_chem(name,i)
        c=stats_compare(name,i,b)[0]
        s1+=a
        s2+=b
        s3+=c
        #print(name,i,a,b,c)
    return s1,s2,s3
def one_vs_all_team(name,t):
    x={'CSK':"['RD Gaikwad', 'F du Plessis', 'RV Uthappa', 'MM Ali', 'AT Rayudu', 'MS Dhoni', 'RA Jadeja', 'DJ Bravo', 'SN Thakur', 'DL Chahar', 'JR Hazlewood']",
       'RCB':"['D Padikkal', 'V Kohli', 'KS Bharat', 'GJ Maxwell', 'AB de Villiers', 'Shahbaz Ahmed', 'DT Christian', 'HV Patel', 'GHS Garton', 'Mohammed Siraj', 'YS Chahal']",
       'DC':"['PP Shaw', 'S Dhawan', 'SS Iyer', 'AR Patel', 'RR Pant', 'SO Hetmyer', 'TK Curran', 'R Ashwin', 'K Rabada', 'Avesh Khan', 'A Nortje']",
       'MI':"['RG Sharma', 'Ishan Kishan', 'HH Pandya', 'KA Pollard', 'SA Yadav', 'JDS Neesham', 'KH Pandya', 'NM Coulter-Nile', 'PP Chawla', 'JJ Bumrah', 'TA Boult']",
       'GT':"['SPD Smith', 'S Dhawan', 'SS Iyer', 'RR Pant', 'SO Hetmyer', 'Lalit Yadav', 'AR Patel', 'R Ashwin', 'K Rabada', 'Avesh Khan', 'A Nortje']",
       'PK':"['KL Rahul', 'MA Agarwal', 'N Pooran', 'DJ Hooda', 'MC Henriques', 'M Shahrukh Khan', 'FA Allen', 'M Ashwin', 'Mohammed Shami', 'CH Gayle', 'Arshdeep Singh']",
       'KKR':"['N Rana', 'Shubman Gill', 'RA Tripathi', 'SP Narine', 'EJG Morgan', 'KD Karthik', 'AD Russell', 'PJ Cummins', 'Shivam Mavi', 'M Prasidh Krishna', 'CV Varun']",
       'RR':"['JC Buttler', 'M Vohra', 'SV Samson', 'DA Miller', 'S Dube', 'R Parag', 'R Tewatia', 'CH Morris', 'S Gopal', 'C Sakariya', 'Mustafizur Rahman']",
       'SRH':"['DA Warner', 'JM Bairstow', 'MK Pandey', 'KS Williamson', 'PK Garg', 'V Shankar', 'Abhishek Sharma', 'Rashid Khan', 'Sandeep Sharma', 'KK Ahmed', 'T Natarajan']"
      }
    y=list(x.keys())
    s1=0
    s2=0
    s3=0
    for i in y:
        if i==t:
            continue
        m=x[i].split("'")[1::2]
        a,b,c=one_player_Against_all_teams(name,m)
        s1+=a
        s2+=b
        s3+=c
        print(name,i,a,b,c)
    return s1,s2,s3

In [29]:
print(datetime.now())
x=['RD Gaikwad', 'F du Plessis', 'RV Uthappa', 'MM Ali', 'AT Rayudu', 'MS Dhoni', 'RA Jadeja', 'DJ Bravo', 'SN Thakur', 'DL Chahar', 'JR Hazlewood']
one_vs_all_team('KL Rahul','PK')
print(datetime.now())

2022-11-24 10:24:11.541853
KL Rahul CSK 0 97 7.437838523781229
KL Rahul RCB 62 61 10.74642857142857
KL Rahul DC 57 59 7.253763244428205
KL Rahul MI 10 94 10.095603481187005
KL Rahul GT 57 60 7.903763244428205
KL Rahul KKR 6 81 9.359008164771954
KL Rahul RR 13 64 12.143149254805962
KL Rahul SRH 22 68 3.9210772833723655
2022-11-24 10:25:15.841271

In [33]:
start = time.time()
print(datetime.now())
def team_vs_team(team):
    zx=team.split("'")[1::2]
    s=0
    print(zx)
    s1=0
    s2=0
    s3=0
    for i in zx:
        
        a,b,c=one_vs_all_team(i,'PK')
        s1+=a
        s2+=b
        s3+=c
        
        
        #print(s1,s2,s3)
    return s1,s2,s3
x="['KL Rahul', 'MA Agarwal', 'N Pooran', 'DJ Hooda', 'MC Henriques', 'M Shahrukh Khan', 'FA Allen', 'M Ashwin', 'Mohammed Shami', 'CH Gayle', 'Arshdeep Singh']"

display('PK',team_vs_team(x))
end = time.time()
print(datetime.now())
print(end - start)

2022-11-24 10:34:25.168990
['KL Rahul', 'MA Agarwal', 'N Pooran', 'DJ Hooda', 'MC Henriques', 'M Shahrukh Khan', 'FA Allen', 'M Ashwin', 'Mohammed Shami', 'CH Gayle', 'Arshdeep Singh']
KL Rahul CSK 0 97 7.437838523781229
KL Rahul RCB 62 61 10.74642857142857
KL Rahul DC 57 59 7.253763244428205
KL Rahul MI 10 94 10.095603481187005
KL Rahul GT 57 60 7.903763244428205
KL Rahul KKR 6 81 9.359008164771954
KL Rahul RR 13 64 12.143149254805962
KL Rahul SRH 22 68 3.9210772833723655
MA Agarwal CSK 6 96 7.52390780873753
MA Agarwal RCB 74 53 10.394505494505495
MA Agarwal DC 42 72 8.652685492801773
MA Agarwal MI 22 79 9.471591371591373
MA Agarwal GT 44 74 8.361018826135105
MA Agarwal KKR 10 71 8.359844054580897
MA Agarwal RR 17 57 8.269489247311828
MA Agarwal SRH 0 59 4.068181818181818
N Pooran CSK 0 34 6.331313131313131
N Pooran RCB 10 35 2.5
N Pooran DC 7 24 8.460317460317459
N Pooran MI 5 35 7.854761904761905
N Pooran GT 7 25 5.4603174603174605
N Pooran KKR 0 45 4.196078431372548
N Pooran RR 3 35 6.458333333333334
N Pooran SRH 0 40 8.857142857142858
DJ Hooda CSK 0 81 0.9411764705882353
DJ Hooda RCB 7 51 0.5
DJ Hooda DC 32 62 1.4107142857142858
DJ Hooda MI 3 75 0.9285714285714286
DJ Hooda GT 45 64 1.4107142857142858
DJ Hooda KKR 7 74 0.26666666666666666
DJ Hooda RR 39 54 0.16666666666666666
DJ Hooda SRH 143 34 0.0
MC Henriques CSK 0 44 1.6444444444444444
MC Henriques RCB 26 36 3.7301587301587302
MC Henriques DC 39 18 1.5761904761904761
MC Henriques MI 4 47 2.787301587301587
MC Henriques GT 39 24 1.5761904761904761
MC Henriques KKR 15 38 1.457142857142857
MC Henriques RR 14 29 0.125
MC Henriques SRH 63 24 0.25
M Shahrukh Khan CSK 0 20 5.924358974358974
M Shahrukh Khan RCB 0 19 4.166666666666666
M Shahrukh Khan DC 0 13 2.0
M Shahrukh Khan MI 0 8 0
M Shahrukh Khan GT 0 15 2.0
M Shahrukh Khan KKR 0 19 4.335714285714285
M Shahrukh Khan RR 0 10 3.0
M Shahrukh Khan SRH 0 7 2.5999999999999996
FA Allen CSK 0 0 0
FA Allen RCB 0 0 0
FA Allen DC 0 0 0
FA Allen MI 0 8 0.0
FA Allen GT 0 0 0
FA Allen KKR 0 8 0.0
FA Allen RR 0 6 0
FA Allen SRH 0 7 1.0
M Ashwin CSK 16 46 2.3095238095238093
M Ashwin RCB 12 21 0.45
M Ashwin DC 20 24 0.3333333333333333
M Ashwin MI 4 31 0.5
M Ashwin GT 28 22 0.3333333333333333
M Ashwin KKR 0 28 0.2
M Ashwin RR 8 34 1.5333333333333332
M Ashwin SRH 0 27 0.5
Mohammed Shami CSK 0 75 2.183333333333333
Mohammed Shami RCB 15 55 6.877777777777778
Mohammed Shami DC 50 61 4.7853535353535355
Mohammed Shami MI 17 77 1.2325757575757574
Mohammed Shami GT 50 62 4.6186868686868685
Mohammed Shami KKR 24 68 2.061904761904762
Mohammed Shami RR 42 51 1.8345238095238094
Mohammed Shami SRH 4 60 1.1583333333333332
CH Gayle CSK 0 102 3.385964912280702
CH Gayle RCB 228 31 0
CH Gayle DC 32 63 1.0
CH Gayle MI 2 114 6.143540669856459
CH Gayle GT 32 72 1.0
CH Gayle KKR 14 83 0.05263157894736842
CH Gayle RR 10 61 0.0
CH Gayle SRH 0 76 1.0158730158730158
Arshdeep Singh CSK 0 22 1.5
Arshdeep Singh RCB 5 16 1.0
Arshdeep Singh DC 3 14 0.5
Arshdeep Singh MI 1 26 1.1666666666666665
Arshdeep Singh GT 3 15 0.0
Arshdeep Singh KKR 0 44 1.3333333333333333
Arshdeep Singh RR 2 26 2.583333333333333
Arshdeep Singh SRH 0 40 2.4333333333333336

'PK'

(1572, 3860, 281.90448859333526)

2022-11-24 10:45:42.233662
677.0646715164185

In [16]:
def players():
    x=all_teams()
    y=set({})
    for i in x:
        zx=i.split("'")[1::2]
        for j in zx:
            y.add(j)
    return list(y)

In [17]:
print(datetime.now())
x={'Player 1':[],'Player 2':[],'Chemistry':[],'Against Chemistry':[],'Stats Points Player 1':[],'Stats Points Player 2':[]}
y=players()
y.sort()
for i in range(len(y)-1):
    for j in range(i+1,len(y)):
        x['Player 1'].append(y[i])
        x['Player 2'].append(y[j])
        x['Chemistry'].append(chemistry(y[i],y[j]))
        x['Against Chemistry'].append(against_chem(y[i],y[j]))
        a,b=stats_compare(y[i],y[j],against_chem(y[i],y[j]))
        x['Stats Points Player 1'].append(a)
        x['Stats Points Player 2'].append(b)
        #print(y[i],y[j])
    print(y[i],i)
df=pd.DataFrame(x)
display(df)
print(datetime.now())

2022-11-24 12:12:47.524406
A Ashish Reddy 0
A Chandila 1
A Chopra 2
A Choudhary 3
A Dananjaya 4
A Flintoff 5
A Kumble 6
A Mishra 7
A Mithun 8
A Mukund 9
A Nehra 10
A Nel 11
A Nortje 12
A Singh 13
A Symonds 14
A Uniyal 15
A Zampa 16
AA Bilakhia 17
AA Chavan 18
AA Jhunjhunwala 19
AA Kazi 20
AA Noffke 21
AB Agarkar 22
AB Barath 23
AB Dinda 24
AB McDonald 25
AB de Villiers 26
AC Blizzard 27
AC Gilchrist 28
AC Thomas 29
AC Voges 30
AD Hales 31
AD Mascarenhas 32
AD Mathews 33
AD Nath 34
AD Russell 35
AF Milne 36
AG Murtaza 37
AG Paunikar 38
AJ Finch 39
AJ Turner 40

KeyboardInterrupt:

In [22]:
df=pd.DataFrame(x)

display(x)

ValueError: arrays must all be same length

In [ ]:
all_details=pd.read_csv('')
a='KA Pollard'
b="['KL Rahul', 'MA Agarwal', 'N Pooran', 'DJ Hooda', 'MC Henriques', 'M Shahrukh Khan', 'FA Allen', 'M Ashwin', 'Mohammed Shami', 'CH Gayle', 'Arshdeep Singh']"
p_1=0
p_2=0
zx=b.split("'")[1::2]
for i in all_details.index:
    if all_details['Player 1'][i] in zx and all_details['Player 2'][i]==a:
        p_1=p_1+all_details(all_details['Stats Points Player 2'][i])
        p_2=p_2+all_details(all_details['Stats Points Player 1'][i])
        
        
    if all_details['Player 1'][i] == a and all_details['Player 2'][i] in zx:
        p_1=p_1+all_details(all_details['Stats Points Player 1'][i])
        p_2=p_2+all_details(all_details['Stats Points Player 2'][i])

In [23]:
x={'Name':[],'Runs':[],'Balls':[],'Wickets Taken':[],'Matches Played':[]}
for i in y:
    df_b=ball[ball['batter']==i]
    x['Name'].append(i)
    try:
        x['Runs'].append(sum(df_b['batsman_run']))
        x['Balls'].append(len(df_b))
    except:
        x['Runs'].append(0)
        x['Balls'].append(0)
    
    df_b=ball[ball['bowler']==i]
    try:
        x['Wickets Taken'].append(sum(df_b['isWicketDelivery']))
        x['Matches Played'].append(len(df_b['ID'].unique()))
    except:
        x['Wickets Taken'].append(0)
        x['Matches Played'].append(0)

In [24]:
x=pd.DataFrame(x)
x

                Name  Runs  Balls  Wickets Taken  Matches Played
0      Kuldeep Yadav    57     76             43              43
1      BW Hilfenhaus     0      0             23              17
2          SB Jakati    28     30             50              57
3    Gagandeep Singh     0      0              3               4
4         YA Abdulla     0      1             15              11
..               ...   ...    ...            ...             ...
608    R Vinay Kumar   310    289            127             104
609          PP Shaw  1305    913              0               0
610         I Sharma    55     62             74              93
611          BB Sran    10     14             20              24
612      JM Bairstow  1038    755              0               0

[613 rows x 5 columns]

In [25]:
#x.to_excel('C:\\Users\\adity\\OneDrive\\Documents\\Python Scripts\\LiT DaC\\Players.xlsx')